---
import DefaultLayout from "../layouts/default.astro";
import articles from "../data/articles.json";
import { Image } from 'astro:assets';

const images = import.meta.glob<{ default: ImageMetadata}>('../data/images/*.png');

function getImage(name: string) {
  const image = images[`../data/images/${name}`];

  if (!image) {
    throw new Error(`Image ${name} not found`);
  }

  return image();
}

---

<DefaultLayout title="Blog">
  <h1>Blog</h1>

  {
    articles.map((article) => (
      <article class="excerpt">
        <Image src={getImage(article.imageName)} alt="" width="480" format="webp" />
        <a href={article.url}>
          <h2>{article.title}</h2>
        </a>
        <p>{article.excerpt}</p>
      </article>
    ))
  }
</DefaultLayout>

<style>
  .excerpt {
    max-width: 30rem;
  }

  .excerpt:not(:last-child) {
    margin-bottom: 32px;
  }
</style>
