---
import DefaultLayout from "../layouts/default.astro";
import articles from "../data/articles.json";
import { Image } from 'astro:assets';

const images = import.meta.glob<{ default: ImageMetadata}>('../data/images/*.png');

function getImage(name: string) {
  const image = images[`../data/images/${name}`];

  console.log(image)

  if (!image) {
    throw new Error(`Image ${name} not found`);
  }

  return image();
}

---

<DefaultLayout
  title="Blog"
  description="Articles about web development, web architecture, and other topics."
>
  <h1 class="page-title">Blog</h1>

  <ul class="excerpt-list">
    {
      articles.map((article) => (
        <li class="excerpt-list__item">
          <article class="excerpt">
            <Image
              class="excerpt__image"
              src={getImage(article.imageName)}
              alt=""
              width="640"
              format="webp"
            />
            <a href={article.url}>
              <h2>{article.title}</h2>
            </a>
            <p>{article.excerpt}</p>
          </article>
        </li>
      ))
    }
  </ul>

</DefaultLayout>

<style>
  
  .excerpt-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  
  .excerpt-list__item a::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .excerpt {
    max-width: 30rem;
    position: relative;
  }

  .excerpt__image {
    border-radius: 8px;
    max-width: 100px;
    height: auto;
    margin: 0 auto;
  }
</style>
